<%= turbo_frame_tag "__author-new" do %>
  <div>
    <%= link_to "New AUTHOR",  new_author_path, disable_with: "Loading...", class: "new-author-button btn btn-primary pull-right  " %>
  </div>
<% end %>
